@model IEnumerable<EqOff.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Список оборудования</h1>

<p>
    <a asp-action="Create">Добавить оборудование</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EqName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EqName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
