@model EqOff.Models.WriteOff

@{
    ViewData["Title"] = "Details";
}

<h1>Просмотр списания</h1>

<div>
    <h4>WriteOff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EqName)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>*@
@*        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WriteOffId">Редактировать</a> |
    <a asp-action="Index" asp-route-id="@Model?.EmployeeId">Вернуться к списку списаний</a>
</div>
